<% @page_title = "Listing all users" -%>
<br>

<h1>Listing all users</h1>

<table>
  <tr>
    <th>Username</th>
    <th>Email</th>
  </tr>

  <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.email %></td>
        <% if signed_in? %>
            <% if current_user?(user) || current_user.admin? %>
                <td><%= link_to 'Edit', edit_user_path(user) %></td>
                <td><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end %>
        <% end %>
      </tr>
  <% end %>
</table>

<br />



