<% provide(:title, "Posts") %>

<h1>Listing Posts</h1>

<%=  render 'list_posts' %>
<br/>
<% if signed_in? %>
    <%= link_to 'New Post', new_post_path, class: "btn btn-large btn-primary" %>
<% end %>