<% provide(:title, "Posts | #{@post.title}") %>

<p>
  <%= render 'post' %>
</p>

<p>
  <% if !@post.comments.empty? %>
      <table width="100%">
        <tr>
          <th width="15%"></th>
          <th width="85%"></th>
        </tr>

        <% @post.comments.all(:order => "created_at ASC").each do |post| %>
          <tr>
            <%= render 'comment', object: post%>
          </tr>
        <% end %>
      </table>
  <% end %>
</p>

<p>
  <% if signed_in? %>
      <%= link_to 'New Comment',
                    {controller: 'posts', action: 'new_comment', id: @post.id},
                    class: "btn btn-large btn-primary"%>
  <% end %>
</p>