<% provide(:title, "Categories | #{@category.name}") %>
<h1><%= @category.name %></h1>

<p><%= render 'list_posts' %></p>


<% if signed_in? %>
    <%= link_to 'New Post', new_post_path, class: "btn btn-large btn-primary" %>
<% end %>
