<p id="notice"><%= notice %></p>
<h1>
  <% "List of People Who Liked #{@post.title}" %>
</h1>
<!--display all users that voted for this post-->
<% if @post.votes.empty? %>
    No one voted for this post
<% else %>
    <% @post.votes.all do |vote| %>
        <%= link_to vote.user.username, vote.user %>
    <% end %>
<% end %>

