<footer class="footer">
  <small>
    NCSU ECE 517 Project 1 by Hao Liu and Travis Folsom
  </small>
  <nav>
    <ul>
      <li><%= link_to "Show all users", users_all_url %></li>
      <li><%= link_to "Show all categories", categories_url %></li>
      <li><%= link_to "Show all posts", posts_url %></li>
    </ul>
  </nav>
</footer>
