<footer class="footer">
  <p>
    <%= link_to "Show all users", users_all_url %>
    <%= link_to "Show all categories", categories_url %>
    <%= link_to "Show all posts", posts_url %>
  </p>
  <p>
    <small>
      NCSU ECE 517 Project 1 by Hao Liu and Travis Folsom
    </small>
  </p>
</footer>
